.board-main-content {
    display: grid;
    grid-template-rows: 45px calc(100vh - 105px);
}

.board-info {
    position: relative;
}

.board-info button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.board-name {
    position: absolute;
    font-weight: bold;
    color: black;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 90%;
    max-height: 30px;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;
}

.board-name:focus {
    background-color: white;
}

.board-content {
    overflow-x: scroll;
    width: 100vw;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    column-gap: 20px;
    padding: 20px;
}

.board-content::-webkit-scrollbar{
    width: 16px;
    height: 16px;
}