main.dashboard {
    display: grid;
    grid-template-columns: 250px auto;
    column-gap: 10px;
    margin-left: 10px;
}

.sidebar {
    background-color: rgb(232, 233, 232);
    padding: 5px;
    border-radius: 4px;
}

.recent {
    list-style: none;
    padding: 2px;
}

.recent li {
    border-top: 1px solid black;
    padding: 2px;
}

.recent li a {
    text-decoration: none;
    display: block;
}

.boards {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: max-content;
    position: relative;
    row-gap: 10px;
    column-gap: 20px;
    background-color: rgba(255, 255, 255, 0.936);
    overflow-y: scroll;
    border-radius: 4px;
}

.new-board {
    background-color: white;
    position: relative;
}

.new-board:hover {
    cursor: pointer;
}

.new-board-card {
    display: none;
    position: fixed;
    top: 100px;
    left: 400px;
    width: 20%;
    height: fit-content;
    padding: 10px;
    z-index: 100;
}

.card:hover {
    cursor: default;
}

.board,
.new-board {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeeea5;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    /* box-shadow: 10px 5px 15px 5px rgba(0, 0, 0, 0.5); */
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.5);
}

.new-board {
    color: black;
}